Task - 1

In [ ]:
class Patient:
    def __init__(self, name, age, weight, height):
        self.name = name
        self.age = age
        self.weight = weight
        self.height = height

    def printDetails(self):
        print(f"Name: {self.name}")
        print(f"Age: {self.age}")
        print(f"Weight: {self.weight} kg")
        print(f"Height: {self.height} cm")

        BMI = self.weight/(self.height/100) **2
        print(f"BMI: {BMI}")

p1 = Patient("A", 55, 63.0, 158.0)
p1.printDetails()
print("====================")
p2 = Patient("B", 53, 61.0, 149.0)
p2.printDetails()

Name: A
Age: 55
Weight: 63.0 kg
Height: 158.0 cm
BMI: 25.236340330075304
====================
Name: B
Age: 53
Weight: 61.0 kg
Height: 149.0 cm
BMI: 27.476239809017613

Task - 2

In [ ]:
class Shape:
    def __init__(self, shape, x, y):
        self.shape = shape
        self.x = x
        self.y = y

    def triangle(self):
        triangle = 0.5 * self.x * self.y
        print(f"Area: {triangle}")
    def square(self):
        square = self.x * self.y
        print(f"Area: {square}")
    def rhombus(self):
        rhombus = 0.5 * self.x * self.y
        print(f"Area: {rhombus}")
    def rectangle(self):
        rectangle = self.x * self.y
        print(f"Area: {rectangle}")

    def area(self):
        if self.shape == "Triangle":
            self.triangle()
        elif self.shape == "Square":
            self.square()
        elif self.shape == "Rhombus":
            self.rhombus()
        elif self.shape == "Rectangle":
            self.rectangle()
        else:
            print("Shape unknown")


triangle = Shape("Triangle",10,25)
triangle.area()
print("==========================")
square = Shape("Square",10,10)
square.area()
print("==========================")
rhombus = Shape("Rhombus",18,25)
rhombus.area()
print("==========================")
rectangle = Shape("Rectangle",15,30)
rectangle.area()
print("==========================")
trapezium = Shape("Trapezium",15,30)
trapezium.area()

Area: 125.0
==========================
Area: 100
==========================
Area: 225.0
==========================
Area: 450
==========================
Shape unknown

Task - 3

In [ ]:
class Calculator:
    def __init__(self):
        print("Calculator is ready!")

    def calculate(self, value1, value2, operator):
        self.value1 = value1
        self.value2 = value2
        self.operator = operator


        if operator == "+":
            self.result = value1 + value2
        elif operator == "-":
            self.result = value1 - value2
        elif operator == "*":
            self.result = value1 * value2
        elif operator == "/":
            self.result = value1 / value2
        return self.result

    def showCalculation(self):
        print(f"{self.value1} {self.operator} {self.value2} = {self.result}")



c1 = Calculator()
print("==================")
val = c1.calculate(10, 20, '+')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 10, '-')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 5, '*')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 16, '/')
print("Returned value:", val)
c1.showCalculation()

Calculatot is ready!
==================
Returned value: 30
10 + 20 = 30
==================
Returned value: 20
30 - 10 = 20
==================
Returned value: 100
20 * 5 = 100
==================
Returned value: 6.25
100 / 16 = 6.25

Task - 4

In [ ]:
class Programmer:
    def __init__(self, name, language, experience):
        self.name = name
        self.language = language
        self.experience = experience
        print("Horray! A new programmer is born")

    def printDetails(self):
        print(f"Name: {self.name}")
        print(f"Language: {self.language}")
        print(f"Experience {self.experience}")

    def addExp(self, experience):
        print(f"Updating experience of {self.name}")
        self.experience += experience


p1 = Programmer("Ethen Hunt", "Java", 10)
p1.printDetails()
print('--------------------------')
p2 = Programmer("James Bond", "C++", 7)
p2.printDetails()
print('--------------------------')
p3 = Programmer("Jon Snow", "Python", 4)
p3.printDetails()
p3.addExp(5)
p3.printDetails()

Horray! A new programmer is born
Name: Ethen Hunt
Language: Java
Experience 10
--------------------------
Horray! A new programmer is born
Name: James Bond
Language: C++
Experience 7
--------------------------
Horray! A new programmer is born
Name: Jon Snow
Language: Python
Experience 4
Updating experience of Jon Snow
Name: Jon Snow
Language: Python
Experience 9

Task - 5

In [ ]:
class UberEats:
    def __init__(self, name, phone, address):
        self.name = name
        self.phone = phone
        self.address = address
        print(f"{self.name}, welcome to UberEats!")



    def add_items(self, item1, item2, price1, price2):
        self.menu = {item1: price1, item2: price2}
        self.total_price = price1 + price2


    def print_order_detail(self):
        print(f"User details: Name: {self.name}, Phone: {self.phone}, Address: {self.address}")
        print(f"Orders: {self.menu}")

        return(f"Total Paid Ammount: {self.total_price}")

order1 = UberEats("Shakib", "01719658xxx", "Mohakhali")
print("=========================")
order1.add_items("Burger", "Coca Cola", 220, 50)
print("=========================")
print(order1.print_order_detail())
print("=========================")
order2 = UberEats ("Siam", "01719659xxx", "Uttara")
print("=========================")
order2.add_items("Pineapple", "Dairy Milk", 80, 70)
print("=========================")
print(order2.print_order_detail())

Shakib, welcome to UberEats!
=========================
=========================
User details: Name: Shakib, Phone: 01719658xxx, Address: Mohakhali
Orders: {'Burger': 220, 'Coca Cola': 50}
Total Paid Ammount: 270
=========================
Siam, welcome to UberEats!
=========================
=========================
User details: Name: Siam, Phone: 01719659xxx, Address: Uttara
Orders: {'Pineapple': 80, 'Dairy Milk': 70}
Total Paid Ammount: 150

Task - 6

In [ ]:
class Customer:
    def __init__(self, name):
        self.name = name

    def greet(self, name = None):
        if name == None:
            print(f"Hello!")
        else:
            print(f"Hello {name}!")

    def purchase(self, *items):
        print(f"{self.name}, you purchased {len(items)} item(s):")
        # print(*items, sep= "\n")

        for item in items:
            print(item)


customer_1 = Customer("Sam")
customer_1.greet()
customer_1.purchase("chips", "chocolate", "orange juice")
print("-----------------------------")
customer_2 = Customer("David")
customer_2.greet("David")
customer_2.purchase("orange juice")

Hello!
Sam, you purchased 3 item(s):
chips
chocolate
orange juice
-----------------------------
Hello David!
David, you purchased 1 item(s):
orange juice

Task - 7

In [ ]:
class Cat:
    def __init__(self, color = "White", position = "Sitting"):
        self. color = color
        self.position = position

    def printCat(self):
        print(f"{self.color} cat is {self.position}")

    def changeColor(self, c):
        self.color = c


c1 = Cat()
c2 = Cat("Black")
c3 = Cat("Brown", "jumping")
c4 = Cat("Red", "purring")
c1.printCat()
c2.printCat()
c3.printCat()
c4.printCat()
c1.changeColor("Blue")
c3.changeColor("Purple")
c1.printCat()
c3.printCat()

White cat is Sitting
Black cat is Sitting
Brown cat is jumping
Red cat is purring
Blue cat is Sitting
Purple cat is jumping

Task - 8

In [ ]:
class Student:
    def __init__(self, name, id, department = "CSE"):
        self.name = name
        self.id = id
        self.department = department

    def dailyEffort(self, hour):
        self.effort = hour

    def printDetails(self):
        print(f"Name: {self.name}")
        print(f"ID: {self.id}")
        print(f"Department: {self.department}")
        print(f"Daily Effort: {self.effort} hour(s)")

        if self.effort <= 2:
            print(f"Suggestion: Should give more effort!")
        elif self.effort > 2 and self.effort <= 4:
            print(f"Suggestion: Keep up the good work!")
        else:
            print(f"Suggestion: Excellent! Now motivate others.")

harry = Student('Harry Potter', 123)
harry.dailyEffort(3)
harry.printDetails()
print('========================')
john = Student("John Wick", 456, "BBA")
john.dailyEffort(2)
john.printDetails()
print('========================')
naruto = Student("Naruto Uzumaki", 777, "Ninja")
naruto.dailyEffort(6)
naruto.printDetails()

Name: Harry Potter
ID: 123
Department: CSE
Daily Effort: 3 hour(s)
Suggestion: Keep up the good work!
========================
Name: John Wick
ID: 456
Department: BBA
Daily Effort: 2 hour(s)
Suggestion: Should give more effort!
========================
Name: Naruto Uzumaki
ID: 777
Department: Ninja
Daily Effort: 6 hour(s)
Suggestion: Excellent! Now motivate others.

Task - 9

In [ ]:
class Batsman:
    def __init__(self, *info):
        self.info = info

        if len(info) == 3:
            self.name = info[0]
            self.run = info[1]
            self.ball = info[2]
        else:
            self.name = "New Batsman"
            self.run = info[0]
            self.ball = info[1]

    def battingStrikeRate(self):
        self.sr = (self.run / self.ball) * 100
        return self.sr

    def printCareerStatistics(self):
        print(f"Name: {self.name}")
        print(f"Runs Scored: {self.run} , Balls Faced: {self.ball}")
        #print(self.s/r)

    def setName(self, name):
        self.name = name


b1 = Batsman(6101, 7380)
b1.printCareerStatistics()
print("============================")
b2 = Batsman("Liton Das", 678, 773)
b2.printCareerStatistics()
print("----------------------------")
print(b2.battingStrikeRate())
print("============================")
b1.setName("Shakib Al Hasan")
b1.printCareerStatistics()
print("----------------------------")
print(b1.battingStrikeRate())

Name: New Batsman
Runs Scored: 6101 , Balls Faced: 7380
============================
Name: Liton Das
Runs Scored: 678 , Balls Faced: 773
----------------------------
87.71021992238033
============================
Name: Shakib Al Hasan
Runs Scored: 6101 , Balls Faced: 7380
----------------------------
82.66937669376694

Task - 10

In [ ]:
class Author :
    def __init__(self, name = None, *books):
        if name == None:
            self.name = "Default"
        else:
            self.name = name

        self.books = list(books)

    def addBooks(self, *books):
        self.books += list(books)

    def printDetails(self):
        print(f"Author Name: {self.name}")
        print("--------")
        print("List of books:")
        for i in self.books:
            print(i)

    def changeName(self, n):
        self.name = n


auth1 = Author('Humayun Ahmed')
auth1.addBooks('Deyal', 'Megher Opor Bari')
auth1.printDetails()
print("===================")
auth2 = Author()
print(auth2.name)
auth2.changeName('Mario Puzo')
auth2.addBooks('The Godfather', 'Omerta', 'The Sicilian')
print("===================")
auth2.printDetails()
print("===================")
auth3 = Author('Paolo Coelho', 'The Alchemist', 'The Fifth Mountain')
auth3.printDetails()

Author Name: Humayun Ahmed
--------
List of books:
Deyal
Megher Opor Bari
===================
Default
===================
Author Name: Mario Puzo
--------
List of books:
The Godfather
Omerta
The Sicilian
===================
Author Name: Paolo Coelho
--------
List of books:
The Alchemist
The Fifth Mountain

Task - 11

In [ ]:
class TaxiLagbe:
    def __init__(self, number, place):
        self.number = number
        self.place = place

        #self.count = 0
        self.passenger_list = []
        self.fare_list = []


    def addPassenger(self, *passengers):
        self.passengers = passengers

        if len(self.passenger_list) >= 4:
            print("Taxi Full! No more passengers can be added.")
        else:
            for i in self.passengers:
                i = i.split("_")

                self.passenger_list.append(i[0])
                print(f"Dear {i[0]}! Welcome to TaxiLagbe.")
                self.fare_list.append(int(i[1]))


    def printDetails(self):
        print(f"Trip info for Taxi number: {self.number}")
        print(f"This taxi can cover only {self.place} area.")
        print(f"Total passengers: {len(self.passenger_list)}")

        #for p in self.passenger_list:
        #   pas += p
        #   print(pas, sep = ", ")


        x = ""
        for name in self.passenger_list:
            x += name + ", "
        print('Passenger lists:')
        print(x[:-2])

        y = 0
        for fare in self.fare_list:
            y += fare
        print(f"Total collected fare: {y} Taka")



taxi1 = TaxiLagbe('1010-01', 'Dhaka')
print('-------------------------------')
taxi1.addPassenger('Walker_100', 'Wood_200')
taxi1.addPassenger('Matt_100')
taxi1.addPassenger('Wilson_105')
print('-------------------------------')
taxi1.printDetails()
print('-------------------------------')
taxi1.addPassenger('Karen_200')
print('-------------------------------')
taxi1.printDetails()
print('-------------------------------')
taxi2 = TaxiLagbe('1010-02', 'Khulna')
taxi2.addPassenger('Ronald_115')
taxi2.addPassenger('Parker_215')
print('-------------------------------')
taxi2.printDetails()

-------------------------------
Dear Walker! Welcome to TaxiLagbe.
Dear Wood! Welcome to TaxiLagbe.
Dear Matt! Welcome to TaxiLagbe.
Dear Wilson! Welcome to TaxiLagbe.
-------------------------------
Trip info for Taxi number: 1010-01
This taxi can cover only Dhaka area.
Total passengers: 4
Passenger lists:
Walker, Wood, Matt, Wilson
Total collected fare: 505 Taka
-------------------------------
Taxi Full! No more passengers can be added.
-------------------------------
Trip info for Taxi number: 1010-01
This taxi can cover only Dhaka area.
Total passengers: 4
Passenger lists:
Walker, Wood, Matt, Wilson
Total collected fare: 505 Taka
-------------------------------
Dear Ronald! Welcome to TaxiLagbe.
Dear Parker! Welcome to TaxiLagbe.
-------------------------------
Trip info for Taxi number: 1010-02
This taxi can cover only Khulna area.
Total passengers: 2
Passenger lists:
Ronald, Parker
Total collected fare: 330 Taka

Task - 12

In [ ]:
class Account:
    def __init__(self, name = "Default Account", balance = 0.0):
        self.name = name
        self.balance = balance

    def details(self):
        #return f"{self.name}\n{float(self.balance)}"
        return f"{self.name}\n{self.balance}"

    def withdraw(self, withdraw_ammount):
        self.withdraw_ammount = withdraw_ammount
        self.new_balance = self.balance - self.withdraw_ammount
        if self.new_balance <=3070:
            print(f"Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.")
        else:
            print(f"Withdraw successful! New balance is: {self.new_balance}")

a1 = Account()
print(a1.details())
print("------------------------")
a1.name = "Oliver"
a1.balance = 10000.0
print(a1.details())
print("------------------------")
a2 = Account("Liam")
print(a2.details())
print("------------------------")
a3 = Account("Noah",400)
print(a3.details())
print("------------------------")
a1.withdraw(6930)
print("------------------------")
a2.withdraw(600)
print("------------------------")
a1.withdraw(6929)

Default Account
0.0
------------------------
Oliver
10000.0
------------------------
Liam
0.0
------------------------
Noah
400
------------------------
Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
------------------------
Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
------------------------
Withdraw successful! New balance is: 3071.0

Task - 13

In [ ]:
class StudentDatabase:
    def __init__(self, name, id):
        self.name = name
        self.id = int(id)
        self.grades = {}

    def calculateGPA(self, course, semester):
        cgpa = 0
        courses = []
        for i in course:
            i = i.split(": ")
            courses.append(i[0])
            cgpa += float(i[1])

        gpa = round(cgpa / len(courses), 2)
        course_summary = {}
        course_summary[tuple(courses)] = gpa
        self.grades[semester] = course_summary


    def printDetails(self):
        print(f"Name: {self.name}")
        print(f"ID: {self.id}")
        for sem, cou in self.grades.items():
            print(f"Courses taken in {sem}:")
            for sub, cg in cou.items():
                for res in sub:
                    print(res)

                print(f"GPA: {cg}")


s1 = StudentDatabase('Pietro', '10101222')
s1.calculateGPA(['CSE230: 4.0', 'CSE220: 4.0', 'MAT110: 4.0'], 'Summer2020')
s1.calculateGPA(['CSE250: 3.7', 'CSE330: 4.0'], 'Summer2021')
print(f'Grades for {s1.name}\n{s1.grades}')
print('------------------------------------------------------')
s1.printDetails()
s2 = StudentDatabase('Wanda', '10103332')
s2.calculateGPA(['CSE111: 3.7', 'CSE260: 3.7', 'ENG101: 4.0'], 'Summer2022')
print('------------------------------------------------------')
print(f'Grades for {s2.name}\n{s2.grades}')
print('------------------------------------------------------')
s2.printDetails()

Grades for Pietro
{'Summer2020': {('CSE230', 'CSE220', 'MAT110'): 4.0}, 'Summer2021': {('CSE250', 'CSE330'): 3.85}}
------------------------------------------------------
Name: Pietro
ID: 10101222
Courses taken in Summer2020:
CSE230
CSE220
MAT110
GPA: 4.0
Courses taken in Summer2021:
CSE250
CSE330
GPA: 3.85
------------------------------------------------------
Grades for Wanda
{'Summer2022': {('CSE111', 'CSE260', 'ENG101'): 3.8}}
------------------------------------------------------
Name: Wanda
ID: 10103332
Courses taken in Summer2022:
CSE111
CSE260
ENG101
GPA: 3.8

# Ungraded Task

Task- 20

In [ ]:
class Student:
    def __init__(self, name = None, dept = None):
        self.name = name
        self.dept = dept

        if self.name == None:
            print("Student name and department need to be set")
        elif self.dept == None:
            print(f"Department for {self.name} needs to be set")
        else:
            print(f"{self.name} is from {self.dept} department")

    def update_name(self, n):
        self.name = n

    def update_department(self, department):
        self.dept = department


    def enroll(self, *courses):
        self.courses = courses


    def printDetail(self):
        print(f"Name: {self.name}")
        print(f"Department: {self.dept}")

        print(f"{self.name} enrolled in {len(self.courses)} course(s):")
        x = ""
        for ele in self.courses:
            x += ele + ", "
        print(x[:-2])


s1 = Student()
print("=========================")
s2 = Student("Carol")
print("=========================")
s3 = Student("Jon", "EEE")
print("=========================")
s1.update_name("Bob")
s1.update_department("CSE")
s2.update_department("BBA")
s1.enroll("CSE110", "MAT110", "ENG091")
s2.enroll("BUS101")
s3.enroll("MAT110", "PHY111")
print("###########################")
s1.printDetail()
print("=========================")
s2.printDetail()
print("=========================")
s3.printDetail()

Student name and department need to be set
=========================
Department for Carol needs to be set
=========================
Jon is from EEE department
=========================
###########################
Name: Bob
Department: CSE
Bob enrolled in 3 course(s):
CSE110, MAT110, ENG091
=========================
Name: Carol
Department: BBA
Carol enrolled in 1 course(s):
BUS101
=========================
Name: Jon
Department: EEE
Jon enrolled in 2 course(s):
MAT110, PHY111

Task - 21

In [ ]:
class Student:
    def __init__(self, name, id, dept):
        self.name = name
        self.id = id
        self.dept = dept

    def details(self):
        #print(f"Name: {self.name")
        #print(f"ID: {self.id}")
        return f"Name: {self.name}\nID: {self.id}\nDepartment: {self.dept}"

    def advise(self, *courses):
        self.courses = courses

        credit = 0.0
        credit += len(courses) * 3
        print(f"{self.name}, you have taken {credit} credits")

        course = ""
        for c in self.courses:
            course += c + ", "

        print(f"List of courses: {course[:-2]}")


        if credit in range(9, 12):
            print(f"Status: OK")

        elif credit == 3:
            print(f"Status: You have to take at least 2 more course.")
        elif credit == 6:
            print(f"Status: You have to take at least 1 more course.")


        elif credit == 18:
            print(f"Status: You have to drop at least 2 course.")
        elif credit == 15:
            print(f"Status: You have to drop at least 1 course.")



s1 = Student("Alice","20103012","CSE")
s2 = Student("Bob", "18301254","EEE")
s3 = Student("Carol", "17101238","CSE")
print("##########################")
print(s1.details())
print("##########################")
print(s2.details())
print("##########################")
s1.advise("CSE110", "MAT110", "PHY111")
print("##########################")
s2.advise("BUS101", "MAT120")
print("##########################")
s3.advise("MAT110", "PHY111", "ENG102", "CSE111", "CSE230")
# s3.advise("MAT110", "PHY111", "ENG102", "CSE111", "CSE230", "CSE260")
# s3.advise("MAT110")

##########################
Name: Alice
ID: 20103012
Department: CSE
##########################
Name: Bob
ID: 18301254
Department: EEE
##########################
Alice, you have taken 9.0 credits
List of courses: CSE110, MAT110, PHY111
Status: OK
##########################
Bob, you have taken 6.0 credits
List of courses: BUS101, MAT120
Status: You have to take at least 1 more course.
##########################
Carol, you have taken 15.0 credits
List of courses: MAT110, PHY111, ENG102, CSE111, CSE230
Status: You have to drop at least 1 course.

Task- 22

In [ ]:
class Hotel:
    def __init__(self, h_name):
        self.h_name = h_name
        self.stuff_id = 0
        self.guest_id = 0
        self.stuff_dict = {}
        self.guest_dict = {}

    def addStuff(self, name, age, phone = "000"):
        self.stuff_id += 1
        self.stuff_dict[self.stuff_id] = [name, age, phone]
        print(f"Staff With ID {self.stuff_id} is added")
    def getStuffById(self, id):
        return f"Staff ID: {id}\nName: {self.stuff_dict[id][0]}\nAge: {self.stuff_dict[id][1]}\nPhone no: {self.stuff_dict[id][2]}"

    def addGuest(self, name, age, phone):
        self.guest_id += 1
        self.guest_dict[self.guest_id] = [name, age, phone]
        print(f"Guest With ID {self.guest_id} is created")
    def getGuestById(self, id):
        return f"Guest ID: {id}\nName: {self.guest_dict[id][0]}\nAge: {self.guest_dict[id][1]}\nPhone no: {self.guest_dict[id][2]}"

    def allStaffs(self):
        print(f"All Staffs:\nNumber of Staff: {self.stuff_id}")
        for key, value in self.stuff_dict.items():
            print(f"Staff ID: {key} Name: {value[0]} Age: {value[1]} Phone no.: {value[2]}")

    def allGuest(self):
        print(f"All Guest:\nNumber of Guest: {self.guest_id}")
        for key, value in self.guest_dict.items():
            print(f"Guest ID: {key} Name: {value[0]} Age: {value[1]} Phone no.: {value[2]}")

h = Hotel("Lakeshore")
h.addStuff( "Adam", 26)
print("=================================")
print(h.getStuffById(1))
print("=================================")
h.addGuest("Carol",35,"123")
print("=================================")
print(h.getGuestById(1))
print("=================================")
h.addGuest("Diana", 32, "431")
print("=================================")
print(h.getGuestById(2))
print("=================================")
h.allStaffs()
print("=================================")
h.allGuest()

Staff With ID 1 is added
=================================
Staff ID: 1
Name: Adam
Age: 26
Phone no: 000
=================================
Guest With ID 1 is created
=================================
Guest ID: 1
Name: Carol
Age: 35
Phone no: 123
=================================
Guest With ID 2 is created
=================================
Guest ID: 2
Name: Diana
Age: 32
Phone no: 431
=================================
All Staffs:
Number of Staff: 1
Staff ID: 1 Name: Adam Age: 26 Phone no.: 000
=================================
All Guest:
Number of Guest: 2
Guest ID: 1 Name: Carol Age: 35 Phone no.: 123
Guest ID: 2 Name: Diana Age: 32 Phone no.: 431

Task- 23

In [ ]:
class Author:
    def __init__(self, name = None):
        self.name = name
        self.cat_list = {}

    def addBook(self, b_name, category):
        self.b_name = b_name
        self.category = category

        if self.name == None:
            print("A book can not be added without author name")

        else:
            if self.category not in self.cat_list:
                self.cat_list[self.category] = [self.b_name]
            else:
                self.cat_list[self.category].append(self.b_name)


    def setName(self, name):
        self.name = name

    def printDetail(self):
        num_books = 0
        for key, val in self.cat_list.items():
            num_books += len(val)

        print(f"Number of Book(s): {num_books}")
        print(f"Author Name: {self.name}")

        for key, val in self.cat_list.items():
            st = ""
            for i in val:
                st += i + ", "
            st = st[:-2]

            print(f"{key}: {st}")

            # print(f"{key}: {', '.join(val)}")



a1 = Author()
print("=================================")
a1.addBook("Ice", "Science Fiction")
print("=================================")
a1.setName("Anna Kavan")
a1.addBook("Ice", "Science Fiction")
a1.printDetail()
print("=================================")
a2 = Author("Humayun Ahmed")
a2.addBook("Onnobhubon", "Science Fiction")
a2.addBook("Megher Upor Bari", "Horror")
print("=================================")
a2.printDetail()
a2.addBook("Ireena", "Science Fiction")
print("=================================")
a2.printDetail()
print("=================================")

=================================
A book can not be added without author name
=================================
Number of Book(s): 1
Author Name: Anna Kavan
Science Fiction: Ice
=================================
=================================
Number of Book(s): 2
Author Name: Humayun Ahmed
Science Fiction: Onnobhubon
Horror: Megher Upor Bari
=================================
Number of Book(s): 3
Author Name: Humayun Ahmed
Science Fiction: Onnobhubon, Ireena
Horror: Megher Upor Bari
=================================

Task- 24

In [ ]:
class Hospital:
    doctor = {}
    patient = {}

    def __init__(self, h_name):
        self.h_name = h_name

    def addDoctor(self, doc):
        self.doctor[doc.id] = [doc.name, doc.spec]

    def getDoctorByID(self, id):
        return f"Doctor's ID: {id}\nName: {self.doctor[id][0]}\nSpeciality: {self.doctor[id][1]}"


    def addPatient(self, pat):
        self.patient[pat.id] = [pat.name, pat.age, pat.phone]

    def getPatientByID(self, id):
        return f"Patient's ID: {id}\nName: {self.patient[id][0]}\nAge: {self.patient[id][1]}\nPhone no.: {self.patient[id][2]}"


    def allDoctors(self):
        print(f"All Doctors:\nNumber of Doctors: {len(self.doctor)}")
        print(self.doctor)

    def allPatients(self):
        print(f"All Patients:\nNumber of Patients: {len(self.patient)}")
        print(self.patient)

class Doctor:
    def __init__(self, id, doc, name, spec):
        self.id = id
        self.doc = doc
        self.name = name
        self.spec = spec


class Patient:
    def __init__(self, id, pat, name, age, phone):
        self.id = id
        self.pat = pat
        self.name = name
        self.age = age
        self.phone = phone


h = Hospital("Evercare")
d1 = Doctor("1d","Doctor", "Samar Kumar", "Neurologist")
h.addDoctor(d1)
print("=================================")
print(h.getDoctorByID("1d"))
print("=================================")
p1 = Patient("1p","Patient", "Kashem Ahmed", 35, 12345)
h.addPatient(p1)
print("=================================")
print(h.getPatientByID("1p"))
print("=================================")
p2 = Patient ("2p","Patient", "Tanina Haque", 26, 33456)
h.addPatient(p2)
print("=================================")
print(h.getPatientByID("2p"))
print("=================================")
h.allDoctors()
h.allPatients()

=================================
Doctor's ID: 1d
Name: Samar Kumar
Speciality: Neurologist
=================================
=================================
Patient's ID: 1p
Name: Kashem Ahmed
Age: 35
Phone no.: 12345
=================================
=================================
Patient's ID: 2p
Name: Tanina Haque
Age: 26
Phone no.: 33456
=================================
All Doctors:
Number of Doctors: 1
{'1d': ['Samar Kumar', 'Neurologist']}
All Patients:
Number of Patients: 2
{'1p': ['Kashem Ahmed', 35, 12345], '2p': ['Tanina Haque', 26, 33456]}

Task- 25

In [ ]:
class Vaccine:
    def __init__(self, v_name, country, second_dose):
        self.v_name = v_name
        self.country = country
        self.second_dose = second_dose

class Person:
    def __init__(self, name, age, profession = "General Citizen"):
        self.name =  name
        self.age = age
        self.profession = profession
        self.vaccine_taken = ""

    def pushVaccine(self, var, dose = None):
        self.var = var
        self.dose = dose

        if self.dose == None:
            self.vaccine_taken += self.var.v_name

        if self.profession == "Student" or self.age > 25:
            if self.dose == None:
                print(f"1st dose done for {self.name}")
            elif self.dose != None and self.vaccine_taken != self.var.v_name:
                print(f"Sorry {self.name}, you cant take 2 different vaccines")
            elif self.dose != None and self.vaccine_taken == self.var.v_name:
                print(f"2nd dose done for {self.name}")

        elif self.age < 25:
            print(f"Sorry {self.name}, Minimum age for taking vaccines is 25 years now.")


    def showDetail(self):
        print(f"Name: {self.name} Age: {self.age} Type: {self.profession}")
        print(f"Vaccine name: {self.var.v_name}")

        if self.dose == None:
            print(f"1st dose: Given")
            print(f"2nd dose: Please come after {self.var.second_dose} days")
        elif self.dose == "2nd Dose":
            print(f"1st dose: Given")
            print(f"2nd dose: Given")


astra = Vaccine("AstraZeneca", "UK", 60)
modr = Vaccine("Moderna", "UK", 30)
sin = Vaccine("Sinopharm", "China", 30)
p1 = Person("Bob", 21, "Student")
print("=================================")
p1.pushVaccine(astra)
print("=================================")
p1.showDetail()
print("=================================")
p1.pushVaccine(sin, "2nd Dose")
print("=================================")
p1.pushVaccine(astra, "2nd Dose")
print("=================================")
p1.showDetail()
print("=================================")
p2 = Person("Carol", 23, "Actor")
print("=================================")
p2.pushVaccine(sin)
print("=================================")
p3 = Person("David", 34)
print("=================================")
p3.pushVaccine(modr)
print("=================================")
p3.showDetail()
print("=================================")
p3.pushVaccine(modr, "2nd Dose")

=================================
1st dose done for Bob
=================================
Name: Bob Age: 21 Type: Student
Vaccine name: AstraZeneca
1st dose: Given
2nd dose: Please come after 60 days
=================================
Sorry Bob, you cant take 2 different vaccines
=================================
2nd dose done for Bob
=================================
Name: Bob Age: 21 Type: Student
Vaccine name: AstraZeneca
1st dose: Given
2nd dose: Given
=================================
=================================
Sorry Carol, Minimum age for taking vaccines is 25 years now.
=================================
=================================
1st dose done for David
=================================
Name: David Age: 34 Type: General Citizen
Vaccine name: Moderna
1st dose: Given
2nd dose: Please come after 30 days
=================================
2nd dose done for David