# Task - 1

In [ ]:
class PlayerEarning:
    def __init__(self, name):
        self.name = name
        self.total_earning = 0
        self.bonus = 0
        self.earning = 0

    def calculateTotal(self, earning, goal=0):
        self.earning = earning
        if goal>30:
            self.bonus = ((5/100)*earning) + 10000
            self.total_earning = self.earning + self.bonus
        elif goal<=30 and goal != 0:
            self.bonus = ((5/100)*earning)
            self.total_earning = self.earning + self.bonus
        else:
            self.total_earning = self.earning

    def printDetails(self):
        print(f"Player Name: {self.name}")
        print(f"Player Season Earning without bonus: {self.earning}")
        print(f"Bonus: {str(int(self.bonus))}")
        print(f"Player Season Earning After Bonus: {str(int(self.total_earning))}")


print("**********************")
player1 = PlayerEarning('Buffon')
player1.calculateTotal(250000)
player1.printDetails()
print("\n**********************")
player2 = PlayerEarning('Dybala')
player2.calculateTotal(250000,31)
player2.printDetails()
print("\n**********************")
player3 = PlayerEarning('Cuadrado')
player3.calculateTotal(250000,20)
player3.printDetails()

**********************
Player Name: Buffon
Player Season Earning without bonus: 250000
Bonus: 0
Player Season Earning After Bonus: 250000

**********************
Player Name: Dybala
Player Season Earning without bonus: 250000
Bonus: 22500
Player Season Earning After Bonus: 272500

**********************
Player Name: Cuadrado
Player Season Earning without bonus: 250000
Bonus: 12500
Player Season Earning After Bonus: 262500

# Task - 2

In [ ]:
class myList:
    def __init__(self, *num):
        self.sum1 = 0
        self.avg = 0
        self.list1 = []
        for i in num:
            self.list1.append(i)

    def merge(self, *num1):
        for i in num1:
            self.list1.append(i)

    def sum(self):
        self.sum1 = 0
        for i in self.list1:
            self.sum1+=i
        print(f"Sum: {self.sum1}")

    def average(self):
        if len(self.list1)>0:
            self.avg = self.sum1/len(self.list1)
        else:
            self.avg = 0
        print("Average:",self.avg)


l1= myList(2,3,4,5,6) # you might need a list inside your class to store the values
l1.sum()
l1.merge(4,5,9)
l1.sum()
l1.average()
print("-----------------------------")
l2= myList()
l2.average()
l2.merge(1,2,4,8)
l2.sum()

Sum: 20
Sum: 38
Average: 4.75
-----------------------------
Average: 0
Sum: 15

# Task - 3

In [ ]:
class Bird:
    def __init__(self, name, canFly=False):
        self.name = name
        self.canFly = canFly
        self.type = "Flightless Birds"

    def fly(self):
        if self.canFly:
            print(f"{self.name} can fly")
        else:
            print(f"{self.name} can't fly")

    def setType(self, type):
        self.type = type

    def printDetail(self):
        print(f"Name: {self.name}")
        print(f"Type: {self.type}")

ostrich = Bird('Ostrich')
duck = Bird("Duck", True)
owl = Bird('Owl', True)
print("###########################")
ostrich.fly()
duck.fly()
owl.fly()
duck.setType('Water Birds')
owl.setType('Birds of Prey')
print("=========================")
ostrich.printDetail()
print("=========================")
duck.printDetail()
print("=========================")
owl.printDetail()

###########################
Ostrich can't fly
Duck can fly
Owl can fly
=========================
Name: Ostrich
Type: Flightless Birds
=========================
Name: Duck
Type: Water Birds
=========================
Name: Owl
Type: Birds of Prey

# Task - 4

In [ ]:
class Account:
    count = 0
    def __init__(self, name, age, occupation, balance):
        self.name = name
        self.age = age
        self.occupation = occupation
        self.balance = balance
        Account.count += 1

    def addMoney(self, amount):
        self.balance+=amount

    def withdrawMoney(self, amount):
        if amount<=self.balance:
            self.balance-=amount

    def printDetails(self):
        print(f"Name: {self.name}")
        print(f"Age: {self.age}")
        print(f"Occupation: {self.occupation}")
        print(f"Total Amount: {self.balance}")

print('No of account holders:', Account.count)
print("=========================")
p1 = Account("Abdul", 45, "Service Holder", 500000)
p1.addMoney(300000)
p1.printDetails()
print("=========================")
p2 = Account("Rahim", 55, "Businessman", 700000)
p2.withdrawMoney(700000)
p2.printDetails()
print("=========================")
p3 = Account("Ashraf", 62, "Govt. Officer", 200000)
p3.withdrawMoney(250000)
p3.printDetails()
print("=========================")
print('No of account holders:', Account.count)

No of account holders: 0
=========================
Name: Abdul
Age: 45
Occupation: Service Holder
Total Amount: 800000
=========================
Name: Rahim
Age: 55
Occupation: Businessman
Total Amount: 0
=========================
Name: Ashraf
Age: 62
Occupation: Govt. Officer
Total Amount: 200000
=========================
No of account holders: 3

# Task - 5

In [ ]:
class Smartphone:
    def __init__(self, name=None):
        self.name = name
        self.features = {}

    def addFeature(self, feature, value):
        if self.name == None:
            print("Feature can not be added without phone name")
        else:
             self.features[feature] = value

    def setName(self, name):
        self.name = name

    def printDetail(self):
        print(f"Phone Name: {self.name}")
        for feature, value in self.features.items():
            print(f"{feature}: {value}")


s1 = Smartphone()
print("=================================")
s1.addFeature("Display", "6.1 inch")
print("=================================")
s1.setName("Samsung Note 20")
s1.addFeature("Display", "6.1 inch")
s1.printDetail()
print("=================================")
s2 = Smartphone("Iphone 12 Pro")
s2.addFeature("Display", "6.2 inch")
s2.addFeature("Ram", "6 GB")
print("=================================")
s2.printDetail()
s2.addFeature("Display", "Amoled panel")
s2.addFeature("Ram", "DDR5")
print("=================================")
s2.printDetail()
print("=================================")

=================================
Feature can not be added without phone name
=================================
Phone Name: Samsung Note 20
Display: 6.1 inch
=================================
=================================
Phone Name: Iphone 12 Pro
Display: 6.2 inch
Ram: 6 GB
=================================
Phone Name: Iphone 12 Pro
Display: Amoled panel
Ram: DDR5
=================================

# Task - 6

In [ ]:
class Student:
    total_student = 0
    cse_student = 0
    bba_student = 0
    def __init__(self, name, dept):
        self.name = name
        self.dept = dept
        Student.total_student += 1
        if self.dept == "CSE":
            Student.cse_student += 1
        else:
            Student.bba_student += 1

        print(f"Creating Student Number: {Student.total_student}")

    def individualInfo(self):
        print(f"{self.name} is from {self.dept} department.")
        print(f"Serial of {self.name} among all students' is: {Student.total_student}")
        if self.dept == "CSE":
            print(f"Serial of {self.name} in CSE departmnent is: {Student.cse_student}")
        else:
            print(f"Serial of {self.name} in BBA departmnent is: {Student.bba_student}")

    def totalInfo(self):
        print(f"Total number of Student: {Student.total_student}")
        print(f"Total number of CSE Student: {Student.cse_student}")
        print(f"Total number of BBA Student: {Student.bba_student}")

s1 = Student("Naruto", "CSE")
print('----------------------')
s1.individualInfo()
print('#############################')
s1.totalInfo()
print('============================')
s2 = Student("Sakura", "BBA")
print('----------------------')
s2.individualInfo()
print('#############################')
s2.totalInfo()
print('============================')
s3 = Student("Shikamaru", "CSE")
print('----------------------')
s3.individualInfo()
print('#############################')
s3.totalInfo()
print('============================')
s4 = Student("Deidara", "BBA")
print('----------------------')
s4.individualInfo()
print('#############################')
s4.totalInfo()

Creating Student Number: 1
----------------------
Naruto is from CSE department.
Serial of Naruto among all students' is: 1
Serial of Naruto in CSE departmnent is: 1
#############################
Total number of Student: 1
Total number of CSE Student: 1
Total number of BBA Student: 0
============================
Creating Student Number: 2
----------------------
Sakura is from BBA department.
Serial of Sakura among all students' is: 2
Serial of Sakura in BBA departmnent is: 1
#############################
Total number of Student: 2
Total number of CSE Student: 1
Total number of BBA Student: 1
============================
Creating Student Number: 3
----------------------
Shikamaru is from CSE department.
Serial of Shikamaru among all students' is: 3
Serial of Shikamaru in CSE departmnent is: 2
#############################
Total number of Student: 3
Total number of CSE Student: 2
Total number of BBA Student: 1
============================
Creating Student Number: 4
----------------------
Deidara is from BBA department.
Serial of Deidara among all students' is: 4
Serial of Deidara in BBA departmnent is: 2
#############################
Total number of Student: 4
Total number of CSE Student: 2
Total number of BBA Student: 2

# Task - 7

In [ ]:
class book:
    def __init__(self, name, genre='biography'):
        self.name = name
        self.genre= genre
    def review(self):
        print(f"The {self.name} which is a {self.genre} is just out of the world, mind-blowing!")

class fiction(book):
    def __init__(self, name, genre):
        super().__init__(name)
        self.genre = genre

    def review(self):
        print(f"The {self.name} which is a {self.genre} is just out of the world, mind-blowing!")

class nonfiction(book):
    def __init__(self, name):
        super().__init__(name)

    def review(self):
        print(f"The {self.name} which is a {self.genre} is just out of the world, mind-blowing!")

b1 = fiction('The Shining','Psychological horror')
b2 = nonfiction('A Beautiful Mind')
b1.review()
print('=========================')
b2.review()
print('=========================')

The The Shining which is a Psychological horror is just out of the world, mind-blowing!
=========================
The A Beautiful Mind which is a biography is just out of the world, mind-blowing!
=========================

# Task - 8

In [ ]:
class Processor:
    def __init__(self, model, thread, core):
        self.model = model
        self.core = core
        self.thread = thread
    def getInfo(self):
        return "Model: "+self.model+ "\nCores: "+str(self.core)+ "\nThreads: "+ str(self.thread)

class Intel(Processor):
    def __init__(self, model, core, thread, price):
        super().__init__(model, thread, core)
        self.price = price

    def getInfo(self):
        print(super().getInfo())
        print(f"Price: {self.price} taka")

class AMD(Processor):
    def __init__(self, model, core, thread, price):
        super().__init__(model, thread, core)
        self.price = price

    def getInfo(self):
        print(super().getInfo())
        print(f"Price: {self.price} taka")

p1 = Intel("Intel i5 10th Gen",6,12,17000)
p2 = AMD("Ryzen 5 3500X",6,6,13800)
p3 = AMD("Ryzen 5 3600",6,12,16900)
print('======================')
p1.getInfo()
print('======================')
p2.getInfo()
print('======================')
p3.getInfo()

======================
Model: Intel i5 10th Gen
Cores: 6
Threads: 12
Price: 17000 taka
======================
Model: Ryzen 5 3500X
Cores: 6
Threads: 6
Price: 13800 taka
======================
Model: Ryzen 5 3600
Cores: 6
Threads: 12
Price: 16900 taka

# Task - 9

In [ ]:
class Fruit:
    Total_order=0
    def __init__(self, Order_ID, weight):
        self.Order_ID=Order_ID
        self.weight=weight
        Fruit.Total_order=Fruit.Total_order+1
    def __str__(self):
        return self.Order_ID+", Weight: "+str(self.weight)

class Mango(Fruit):
    def __init__(self, Order_ID, weight, variety, price):
        super().__init__(Order_ID, weight)
        self.variety = variety
        self.price = price*self.weight

    def __add__(self, other):
        return f"The total Price of the orders are: {self.price+other.price}"

    def __str__(self):
        return super().__str__()+", Variety: "+self.variety+", Total Price: "+str(self.price)

class JackFruit(Fruit):
    def __init__(self, Order_ID, weight, price):
        super().__init__(Order_ID, weight)
        self.price = price*self.weight

    def __add__(self, other):
        return f"The total Price of the orders are: {self.price+other.price}"

    def __str__(self):
        return super().__str__()+", Total Price: "+str(self.price)


m1=Mango("Order Id 1", 5,"GopalVog",250)
print(m1)
m2=Mango("Order Id 2", 5,"HariVanga", 230)
print(m2)
j1=JackFruit("Order Id 3", 5,250)
print(j1)
j2=JackFruit("Order Id 4", 4,210)
print(j2)
print("Total number of Orders:"+str(Fruit.Total_order))
print("==================")
print(m1+m2)
print("==================")
print(j1+j2)

Order Id 1, Weight: 5, Variety: GopalVog, Total Price: 1250
Order Id 2, Weight: 5, Variety: HariVanga, Total Price: 1150
Order Id 3, Weight: 5, Total Price: 1250
Order Id 4, Weight: 4, Total Price: 840
Total number of Orders:4
==================
The total Price of the orders are: 2400
==================
The total Price of the orders are: 2090

# Task - 10

In [ ]:
class Student:
    def __init__(self,name,ID):
        self.name = name
        self.ID = ID
    def Details(self):
        return "Name: "+self.name+"\n"+"ID: "+self.ID+"\n"

class CSEStudent(Student):
    def __init__(self, name, ID, semester):
        super().__init__(name, ID)
        self.semester = semester
        self.course = []
        self.marks = []

    def Details(self):
        return super().Details() +"Current semester: "+self.semester+"\n"

    def addCourseWithMarks(self, *course):
        for i in range(0, len(course), 2):
            self.course.append(course[i])
            self.marks.append(course[i+1])

    def showGPA(self):
        gpa = 0
        cgpa = 0
        total_credits = 3*len(self.course)
        print(f"{self.name} has taken {len(self.course)} courses.")
        for i in range(len(self.course)):
            # print(f"{self.course[i]}: {self.marks[i]}")
            if self.marks[i] >= 85:
                gpa = 4.0
                cgpa += 4*3
            elif self.marks[i] >= 80:
                gpa = 3.3
                cgpa += 3.3*3
            elif self.marks[i] >= 70:
                gpa = 3.0
                cgpa += 3.0*3
            elif self.marks[i] >= 65:
                gpa = 2.3
                cgpa += 2.3*3
            elif self.marks[i] >= 57:
                gpa = 2.0
                cgpa += 2.0*3
            elif self.marks[i] >= 55:
                gpa = 1.3
                cgpa += 1.3*3
            elif self.marks[i] >= 50:
                gpa = 1.0
                cgpa += 1.0*3
            else:
                gpa = 0.0
                cgpa += 0.0*3

            print(f"{self.course[i]}: {gpa}")

        gpa2 = round((cgpa/total_credits),2)
        print(f"GPA of {self.name} is: {gpa2}")

Bob = CSEStudent("Bob","20301018","Fall 2020")
Carol = CSEStudent("Carol","16301814","Fall 2020")
Anny = CSEStudent("Anny","18201234","Fall 2020")
print("#########################")
print(Bob.Details())
print("#########################")
print(Carol.Details())
print("#########################")
print(Anny.Details())
print("#########################")
Bob.addCourseWithMarks("CSE111",83.5,"CSE230",73.0,"CSE260",92.5)
Carol.addCourseWithMarks("CSE470",62.5,"CSE422",69.0,"CSE460",76.5,"CSE461",87.0)
Anny.addCourseWithMarks("CSE340",45.5,"CSE321",95.0,"CSE370",91.0)
print("----------------------------")
Bob.showGPA()
print("----------------------------")
Carol.showGPA()
print("----------------------------")
Anny.showGPA()

#########################
Name: Bob
ID: 20301018
Current semester: Fall 2020

#########################
Name: Carol
ID: 16301814
Current semester: Fall 2020

#########################
Name: Anny
ID: 18201234
Current semester: Fall 2020

#########################
----------------------------
Bob has taken 3 courses.
CSE111: 3.3
CSE230: 3.0
CSE260: 4.0
GPA of Bob is: 3.43
----------------------------
Carol has taken 4 courses.
CSE470: 2.0
CSE422: 2.3
CSE460: 3.0
CSE461: 4.0
GPA of Carol is: 2.82
----------------------------
Anny has taken 3 courses.
CSE340: 0.0
CSE321: 4.0
CSE370: 4.0
GPA of Anny is: 2.67

# Task - 11

In [ ]:
class Transport:
    total_traveller = 0
    def __init__(self, name, fare):
        self.name = name
        self.baseFare = fare
    def __str__(self):
        s = "Name: "+self.name+", Base fare: "+str(self.baseFare)
        return s

class Bus(Transport):
    def __init__(self, name, fare):
        super().__init__(name, fare)
        self.passenger = []
        print(f"Base-fare of {self.name} is {self.baseFare} Taka")

    def addPassengerWithBags(self, *data):
        temp = []
        for i in range(0, len(data), 2):
            temp = [data[i], data[i+1]]
            self.passenger.append(temp)
        Transport.total_traveller+=len(self.passenger)

    def __str__(self):
        s = super().__str__()
        s += f"\nTotal Passenger(s): {str(len(self.passenger))}\nPassenger details:"
        fare = 0
        for i in range(len(self.passenger)):
            s += f"\nName: {self.passenger[i][0]}"
            if self.passenger[i][1] >= 3 and self.passenger[i][1] <= 5:
                fare += 60
            elif self.passenger[i][1] > 5:
                fare += 105
            else:
                fare += 0
            s += f", Fare: {self.baseFare+fare}"
            fare = 0
        return s

class Train(Transport):
    def __init__(self, name, fare):
        super().__init__(name, fare)
        self.passenger = []
        print(f"Base-fare of {self.name} is {self.baseFare} Taka")

    def addPassengerWithBags(self, *data):
        temp = []
        for i in range(0, len(data), 2):
            temp = [data[i], data[i+1]]
            self.passenger.append(temp)
        Transport.total_traveller+=len(self.passenger)

    def __str__(self):
        s = super().__str__()
        s += f"\nTotal Passenger(s): {str(len(self.passenger))}\nPassenger details:"
        fare = 0
        for i in range(len(self.passenger)):
            s += f"\nName: {self.passenger[i][0]}"
            if self.passenger[i][1] >= 3 and self.passenger[i][1] <= 5:
                fare += 60
            elif self.passenger[i][1] > 5:
                fare += 105
            else:
                fare += 0
            s += f", Fare: {self.baseFare+fare}"
            fare = 0
        return s


t1 = Bus("Volvo", 950)
print("=================================")
t1.addPassengerWithBags("David", 6, "Mike", 1, "Carol", 3)
print("=================================")
print(t1)
print("=================================")
t2 = Train("Silk City", 850)
print("=================================")
t2.addPassengerWithBags("Bob", 2, "Simon", 4)
print("=================================")
print(t2)
print("=================================")
print("Total Passengers in Transport: ", Transport.total_traveller )

Base-fare of Volvo is 950 Taka
=================================
=================================
Name: Volvo, Base fare: 950
Total Passenger(s): 3
Passenger details:
Name: David, Fare: 1055
Name: Mike, Fare: 950
Name: Carol, Fare: 1010
=================================
Base-fare of Silk City is 850 Taka
=================================
=================================
Name: Silk City, Base fare: 850
Total Passenger(s): 2
Passenger details:
Name: Bob, Fare: 850
Name: Simon, Fare: 910
=================================
Total Passengers in Transport:  5

# Task - 12

In [15]:
class AppleProduct:
    def __init__(self, name, model,base_price):
        self.name = name
        self.model = model
        self.base_price = base_price
    def companyInfo(self):
        st = ("Company Name: Apple\nFouder: Steve Jobs, Steve Wozniak, Ronald Wayne\nCurrentCEO: Tim Cook\nAddress: Apple Inc, 2511Laguna Blvd, Elk Grove, CA 95758, United States")
        return st
    def feature(self):
        st = (f"Name: {self.name}\nProduct Model: {self.model}\nHardware Quality: Excellent Hardwares\nGuarantee/ Warranty: Apple Care")
        return st
    def __str__(self):
        print('This is apple product.')
    def calculatePrice(self):
        print('Total Price:', self.base_price)

class MacBookPro2020(AppleProduct):
    def __init__(self, name, model, ram, chip, tax):
        super().__init__(name, model, base_price=1299)
        self.ram = ram
        self.chip = chip
        self.tax = tax
        self.total_price = 0

    def __str__(self):
        return f"Product Details:\n{super().feature()}\nRAM: {self.ram}GB\nChip: {self.chip}\nCompany Details:\n{super().companyInfo()}"

    def calculatePrice(self):
        print("Calculating Total Price:")
        self.total_price = self.base_price + ((self.base_price * self.tax)/100)
        print(f"Base Price: {self.base_price}\nTax: {self.tax}%\nTotal Price: {self.total_price}")

    def __add__(self, other):
        return self.total_price + other.total_price

class iPhone12(AppleProduct):
    def __init__(self, name, model, ram, chip, tax):
        super().__init__(name, model, base_price=799)
        self.ram = ram
        self.chip = chip
        self.tax = tax
        self.total_price = 0

    def __str__(self):
        return f"Product Details:\n{super().feature()}\nRAM: {self.ram}GB\nChip: {self.chip}\nCompany Details:\n{super().companyInfo()}"

    def calculatePrice(self):
        print("Calculating Total Price:")
        self.total_price = self.base_price + ((self.base_price * self.tax)/100)
        print(f"Base Price: {self.base_price}\nTax: {self.tax}%\nTotal Price: {self.total_price}")

m1 = MacBookPro2020('MacBook','MacBookPro2020', 8, 'M1', 10)
print(m1)
print('====================================')
m1.calculatePrice()
print('###################################')
iphone = iPhone12('iPhone', 'iPhone 12', 8,'A14', 5)
print(iphone)
print('====================================')
iphone.calculatePrice()
print('###################################')
print('Total Price of these two products: ',end='')
print('%.2f Dollars'%(m1 + iphone))

Product Details:
Name: MacBook
Product Model: MacBookPro2020
Hardware Quality: Excellent Hardwares
Guarantee/ Warranty: Apple Care
RAM: 8GB
Chip: M1
Company Details:
Company Name: Apple
Fouder: Steve Jobs, Steve Wozniak, Ronald Wayne
CurrentCEO: Tim Cook
Address: Apple Inc, 2511Laguna Blvd, Elk Grove, CA 95758, United States
====================================
Calculating Total Price:
Base Price: 1299
Tax: 10%
Total Price: 1428.9
###################################
Product Details:
Name: iPhone
Product Model: iPhone 12
Hardware Quality: Excellent Hardwares
Guarantee/ Warranty: Apple Care
RAM: 8GB
Chip: A14
Company Details:
Company Name: Apple
Fouder: Steve Jobs, Steve Wozniak, Ronald Wayne
CurrentCEO: Tim Cook
Address: Apple Inc, 2511Laguna Blvd, Elk Grove, CA 95758, United States
====================================
Calculating Total Price:
Base Price: 799
Tax: 5%
Total Price: 838.95
###################################
Total Price of these two products: 2267.85 Dollars

# Task - 13

In [23]:
class University:
    name = "ABC University"
    numberOfStudents = 0
    admissionFee = 28000
    Library = 2000
    def __init__(self, n,i):
        self.stName = n
        self.stId = i
    def payment(self):
        return self.admissionFee + self.Library
    def __str__(self):
        return "Student Name: {}, ID: {}\nFee: {}".format(self.stName, self.stId, self.payment())

class CSE_dept(University):
    PerCreditFee = 6600
    SemesterFee = 7700
    LabFee = 2750
    def __init__(self, name, id, credit = 6):
        University.numberOfStudents+=1
        super().__init__(name, id)
        self.credit = credit
    def payment(self):
        return super().payment() + self.SemesterFee + (self.PerCreditFee*self.credit) + self.LabFee
    def payment_details(self):
        print(f"\nDETAILS:\nAdmission Fee: {University.admissionFee}\nLibrary Fee: {University.Library}\nSemester Fee: {self.SemesterFee}\nPer Credit Fee: {self.PerCreditFee}\nNumber of credits: {self.credit}\nLab fee: {self.LabFee}")
    def __add__(self, other):
        return self.payment()+other.payment()

class PHR_dept(University):
    PerCreditFee = 6600
    SemesterFee = 11000
    def __init__(self, name, id, credit = 9):
        University.numberOfStudents+=1
        super().__init__(name, id)
        self.credit = credit
    def payment(self):
        return super().payment() + self.SemesterFee + (self.PerCreditFee*self.credit)
    def payment_details(self):
        print(f"\nDETAILS:\nAdmission Fee: {University.admissionFee}\nLibrary Fee: {University.Library}\nSemester Fee: {self.SemesterFee}\nPer Credit Fee:{self.PerCreditFee}\nNumber of credits: {self.credit}")
    def __add__(self, other):
        return self.payment()+other.payment()

c1 = CSE_dept("Mary","5678")
print(c1)
c1.payment_details()
print("===========================")
p1 = PHR_dept("Simon","91011")
print(p1)
p1.payment_details()
print("===========================")
c2 = CSE_dept("Adam","1234", 12)
print(c2)
c2.payment_details()
print("===========================")
p2 = PHR_dept("David","121314", 15)
print(p2)
p2.payment_details()
print("===========================")
print("Total Number of Students:", University.numberOfStudents)
print("Total University Revenue:", (c1 + c2) + (p1 + p2))
print("===========================")
print("Due to the pandemic, admission and library fees have been reduced for all departments. ")
University.admissionFee -= 1000
University.Library -= 100
print("The credit, semester and lab fees have been reduced for the CSE department. ")
CSE_dept.PerCreditFee -= 100
CSE_dept.SemesterFee -= 100
CSE_dept.LabFee -=100
print("The credit and semester fees have been reduced for the PHR department.\n ")
PHR_dept.PerCreditFee -= 100
PHR_dept.SemesterFee -= 1000
print(c1)
print(p1)
print(c2)
print(p2)
print("===========================")
print("Total Number of Students:", University.numberOfStudents)
print("Total University Revenue:", (c1 + c2) + (p1 + p2))

Student Name: Mary, ID: 5678
Fee: 80050

DETAILS:
Admission Fee: 28000
Library Fee: 2000
Semester Fee: 7700
Per Credit Fee: 6600
Number of credits: 6
Lab fee: 2750
===========================
Student Name: Simon, ID: 91011
Fee: 100400

DETAILS:
Admission Fee: 28000
Library Fee: 2000
Semester Fee: 11000
Per Credit Fee:6600
Number of credits: 9
===========================
Student Name: Adam, ID: 1234
Fee: 119650

DETAILS:
Admission Fee: 28000
Library Fee: 2000
Semester Fee: 7700
Per Credit Fee: 6600
Number of credits: 12
Lab fee: 2750
===========================
Student Name: David, ID: 121314
Fee: 140000

DETAILS:
Admission Fee: 28000
Library Fee: 2000
Semester Fee: 11000
Per Credit Fee:6600
Number of credits: 15
===========================
Total Number of Students: 4
Total University Revenue: 440100
===========================
Due to the pandemic, admission and library fees have been reduced for all departments.
The credit, semester and lab fees have been reduced for the CSE department.
The credit and semester fees have been reduced for the PHR department.

Student Name: Mary, ID: 5678
Fee: 78150
Student Name: Simon, ID: 91011
Fee: 97400
Student Name: Adam, ID: 1234
Fee: 117150
Student Name: David, ID: 121314
Fee: 136400
===========================
Total Number of Students: 4
Total University Revenue: 429100

# Task - 14

In [24]:
#Task 14
class Library:
    Total_book = 1000
    borrow_data = {}
    def __init__(self,n,id):
        self.student_name = n
        self.student_id = id
    def borrowbook(self):
        print("A book is borrowed!")
    def __str__(self):
        return "Library: XYZ"

class Student(Library):
    book_borrowed = []
    def __init__(self, name, id):
        super().__init__(name, id)
    def borrowbook(self, *arg):
        if arg[0] not in Library.borrow_data:
            super().borrowbook()
            self.book_borrowed.append(arg[0])
            if len(arg)==1:
                print(f"'{arg[0]}' book is borrowed by {self.student_name}({self.student_id})")
            elif len(arg)==2:
                print(f"'{arg[0]}' book with the unique id {arg[1]} is borrowed by {self.student_name}({self.student_id})")
            Library.borrow_data[arg[0]] = [self.student_name]
            Library.Total_book-=1
            print(f"Number of books available for borrowing = {Library.Total_book}")
        else:
            print(f"Sorry {self.student_name} ! {arg[0]} book is brrowed by {Library.borrow_data[arg[0]][0]}")
    def __str__(self):
        print(super().__str__())
        print(f"Student Name: {self.student_name} ID: {self.student_id}\nBooks borrowed",end=": ")
        for i in range(0, len(self.book_borrowed)):
            if i!=len(self.book_borrowed)-1:
                print(self.book_borrowed[i], end = ", ")
            else:
                return self.book_borrowed[i]
    def returnAllBooks(self):
        dict_copy = Library.borrow_data.copy()
        for i in dict_copy:
            if Library.borrow_data[i] == [self.student_name]:
                Library.borrow_data.pop(i)
        self.book_borrowed = []
        print(f"All Books are returned by {self.student_name}")

s1 = Student("Alice",18101259)
s1.borrowbook("The Alchemist", "Hdw652")
print("===============")
print(s1)
print("===============")
print(Library.borrow_data)
print("===============")
s1.borrowbook("Wuthering Heights")
print("===============")
print(s1)
print("===============")
s2= Student("David",18141777)
s2.borrowbook("The Alchemist", "Hdw652")
print("===============")
s2.borrowbook("The Vampyre")
print("===============")
print(Library.borrow_data)
print("===============")
s1.returnAllBooks()
print("===============")
print(Library.borrow_data)

A book is borrowed!
'The Alchemist' book with the unique id Hdw652 is borrowed by Alice(18101259)
Number of books available for borrowing = 999
===============
Library: XYZ
Student Name: Alice ID: 18101259
Books borrowed: The Alchemist
===============
{'The Alchemist': ['Alice']}
===============
A book is borrowed!
'Wuthering Heights' book is borrowed by Alice(18101259)
Number of books available for borrowing = 998
===============
Library: XYZ
Student Name: Alice ID: 18101259
Books borrowed: The Alchemist, Wuthering Heights
===============
Sorry David ! The Alchemist book is brrowed by Alice
===============
A book is borrowed!
'The Vampyre' book is borrowed by David(18141777)
Number of books available for borrowing = 997
===============
{'The Alchemist': ['Alice'], 'Wuthering Heights': ['Alice'], 'The Vampyre': ['David']}
===============
All Books are returned by Alice
===============
{'The Vampyre': ['David']}

# Task - 15

In [26]:
class Player:
    database = {}
    playerNo = 0
    def __init__(self, name, team, jerseyNo):
        self.name = name
        self.team = team
        self.jerseyNo = jerseyNo
    def __str__(self):
        return "Name:{}\nTeam:{}\nJersey No:{}".format(self.name,self.team,self.jerseyNo)

class FootballPlayer(Player):
    def __init__(self, name, team, jerseyNo, goals, retirement = "Not yet retired"):
        super().__init__(name, team, jerseyNo)
        self.goals = goals
        self.retirement = retirement
        Player.playerNo+=1
        id = self.name.split(" ")
        self.id = str(Player.playerNo) + id[0][0]+id[1][0] + str(jerseyNo)
        Player.database[self.id] = [self.name, self.team, self.jerseyNo, self.goals, self.retirement]

    def createPlayer(name, team, jerseyNo, goals, retirement = "Not yet retired"):
        return FootballPlayer(name, team, jerseyNo, goals, retirement)

    def __str__(self):
        return f"Player ID: {self.id}\n" + super().__str__()+f"\nGoals Scored:{self.goals}\nRetirement date:{self.retirement}"



print("Number of players:", Player.playerNo)
print("Player Database:", Player.database)
print("#################################")
p1 = FootballPlayer("Lionel Messi","Barcelona",10,231)
print("------Details of the player------")
print(p1)
print("#################################")
p2 = FootballPlayer("Cristiano Ronaldo","Juventus",7,215)
print("------Details of the player------")
print(p2)
print("#################################")
p3 = FootballPlayer.createPlayer("Miroslav Klose","Lazio",11, 71,"11 Aug,2014")
print("------Details of the player------")
print(p3)
print("#################################")
print("Number of players:",Player.playerNo)
print("Player Database:",Player.database)

Number of players: 0
Player Database: {}
#################################
------Details of the player------
Player ID: 1LM10
Name:Lionel Messi
Team:Barcelona
Jersey No:10
Goals Scored:231
Retirement date:Not yet retired
#################################
------Details of the player------
Player ID: 2CR7
Name:Cristiano Ronaldo
Team:Juventus
Jersey No:7
Goals Scored:215
Retirement date:Not yet retired
#################################
------Details of the player------
Player ID: 3MK11
Name:Miroslav Klose
Team:Lazio
Jersey No:11
Goals Scored:71
Retirement date:11 Aug,2014
#################################
Number of players: 3
Player Database: {'1LM10': ['Lionel Messi', 'Barcelona', 10, 231, 'Not yet retired'], '2CR7': ['Cristiano Ronaldo', 'Juventus', 7, 215, 'Not yet retired'], '3MK11': ['Miroslav Klose', 'Lazio', 11, 71, '11 Aug,2014']}

# Task - 16

# Task -17

In [28]:
class Magical_SportsPerson:
    database = {}
    playerNo = 0
    def __init__(self,name,team,jerseyNo):
        self.name = name
        self.team = team
        self.jerseyNo = jerseyNo

    def __str__(self):
        return "Name:{}\nTeam:{}\nJerseyNo:{}".format(self.name,     self.team, self.jerseyNo)

class Quidditch_Player(Magical_SportsPerson):
    def __init__(self, name, team, jerseyNo, goals, retirement = "Not yet retired"):
        super().__init__(name, team, jerseyNo)
        self.goals = goals
        self.retirement = retirement
        Magical_SportsPerson.playerNo+=1
        id = self.name.split(" ")
        self.id = str(Magical_SportsPerson.playerNo) + id[0][0]+id[1][0] + str(jerseyNo)
        Magical_SportsPerson.database[self.id] = [self.name, self.team, self.jerseyNo, self.goals, self.retirement]

    def createPlayer(name, team, jerseyNo, goals, retirement = "Not yet retired"):
        return Quidditch_Player(name, team, jerseyNo, goals, retirement)

    def __str__(self):
        return f"Player ID:{self.id}\n" + super().__str__()+f"\nGoals Scored:{self.goals}\nRetirement date:{self.retirement}"

print("Number of players:",Magical_SportsPerson.playerNo)
print("Player Database:",Magical_SportsPerson.database)
print("#################################")
p1 = Quidditch_Player("Harry Potter","Gryffindor", 8, 523)
print("------Details of the player------")
print(p1)
print("#################################")
p2 = Quidditch_Player("Ronald Weasley","Gryffindor", 13, 5)
print("------Details of the player------")
print(p2)
print("#################################")
p3 = Quidditch_Player.createPlayer("George Weasley","Gryffindor", 12, 11, "11 Magical Year, 1886")
print("------Details of the player------")
print(p3)
print("#################################")
print("Number of players:",Magical_SportsPerson.playerNo)
print("Player Database:",Magical_SportsPerson.database)

Number of players: 0
Player Database: {}
#################################
------Details of the player------
Player ID:1HP8
Name:Harry Potter
Team:Gryffindor
JerseyNo:8
Goals Scored:523
Retirement date:Not yet retired
#################################
------Details of the player------
Player ID:2RW13
Name:Ronald Weasley
Team:Gryffindor
JerseyNo:13
Goals Scored:5
Retirement date:Not yet retired
#################################
------Details of the player------
Player ID:3GW12
Name:George Weasley
Team:Gryffindor
JerseyNo:12
Goals Scored:11
Retirement date:11 Magical Year, 1886
#################################
Number of players: 3
Player Database: {'1HP8': ['Harry Potter', 'Gryffindor', 8, 523, 'Not yet retired'], '2RW13': ['Ronald Weasley', 'Gryffindor', 13, 5, 'Not yet retired'], '3GW12': ['George Weasley', 'Gryffindor', 12, 11, '11 Magical Year, 1886']}

# Task -18

In [26]:
class User:
    def __init__(self, name, place, ride_type = "Single"):
        self.name = name
        self.place = place
        self.ride_type = ride_type
        self.car = None

    def status(self):
        if self.car:
            print(f"Status: {self.name} boarded in car {self.car}!")
        else:
            print(f"Status: {self.name} is looking for a {self.ride_type} ride!")

    def board_car(self, car_number):
        self.car = car_number

class Uber:
    def __init__(self, car_number, ride_type, *places):
        self.car_number = car_number
        self.ride_type = ride_type
        self.places = places

    def details(self):
        s = ""
        for i in range(len(self.places)):
            if i!=len(self.places)-1:
                s+=self.places[i]+" --> "
            else:
                s+=self.places[i]

        print(f"Car number: {self.car_number}")
        print(f"Type: {self.ride_type}")
        print(f"Routes: {s}")

    def pick(self, *users):
        for i in users:
            if i.ride_type != self.ride_type:
                print(f"{i.name} is looking for a different ride.")
            # elif self.ride_type == "Shared" and i.place in self.places:
            #     print(f"{i.name} has been picked up.")
            #     i.board_car(self.car_number)
            elif i.place in self.places:
                print(f"{i.name} has been picked up.")
                i.board_car(self.car_number)
            # elif self.ride_type == "Single":
            #     other_users_have_car = False
            #     for u in users:
            #         if u is not i and u.car:
            #             other_users_have_car = True
            #             break
            #     if not other_users_have_car:
            #         print(f"{i.name} has been picked up.")
            #         i.board_car(self.car_number)
            else:
                print(f"{i.name}'s destination is different from this car's route.")


user1 = User("Brooks", "Banani", "Shared")
user2 = User("Jocelyn", "Uttara")
user3 = User("Robert", "Gulshan", "Shared")
user4 = User("Langdon", "Mohakhali", "Shared")


user1.status()
user2.status()
user3.status()
user4.status()
print("----------------------------------")
car1 = Uber("0K32BH", "Shared", "Mohakhali", "Banani", "Nikunja", "Uttara")
car1.details()
print("----------------------------------")
car1.pick(user1,user2,user3,user4)
print("----------------------------------")
user1.status()
user2.status()
user3.status()
user4.status()
print("----------------------------------")
car2 = Uber("5GD2BD", "Single", "Uttara")
car3 = Uber("4T12FR", "Shared", "Gulshan", "Bashundhara")
car2.details()
car3.details()
print("----------------------------------")
car2.pick(user2, user3)
print("----------------------------------")
car3.pick(user3)
print("----------------------------------")
user2.status()
user3.status()

Status: Brooks is looking for a Shared ride!
Status: Jocelyn is looking for a Single ride!
Status: Robert is looking for a Shared ride!
Status: Langdon is looking for a Shared ride!
----------------------------------
Car number: 0K32BH
Type: Shared
Routes: Mohakhali --> Banani --> Nikunja --> Uttara
----------------------------------
Brooks has been picked up.
Jocelyn is looking for a different ride.
Robert's destination is different from this car's route.
Langdon has been picked up.
----------------------------------
Status: Brooks boarded in car 0K32BH!
Status: Jocelyn is looking for a Single ride!
Status: Robert is looking for a Shared ride!
Status: Langdon boarded in car 0K32BH!
----------------------------------
Car number: 5GD2BD
Type: Single
Routes: Uttara
Car number: 4T12FR
Type: Shared
Routes: Gulshan --> Bashundhara
----------------------------------
Jocelyn has been picked up.
Robert is looking for a different ride.
----------------------------------
Robert has been picked up.
----------------------------------
Status: Jocelyn boarded in car 5GD2BD!
Status: Robert boarded in car 4T12FR!