#String

Task-1

In [ ]:
A = input("Enter a string: ")

u_count = 0
l_count = 0
string = ""

for i in range(len(A)):
  if ord(A[i]) >= 65 and ord(A[i]) <= 90:
    u_count += 1
  elif ord(A[i]) >= 97 and ord(A[i]) <= 122:
    l_count += 1

if u_count > l_count:
  #print(A.upper())
  for i in range(len(A)):
    if ord(A[i]) >= 65 and ord(A[i]) <= 90:
      string += chr(ord(A[i]))
    else:
      string += chr(ord(A[i]) - 32)

else:
  #print(A.lower())
  for i in range(len(A)):
    if ord(A[i]) >= 97 and ord(A[i]) <= 122:
      string += chr(ord(A[i]))
    else:
      string += chr(ord(A[i]) + 32)

print(string)

Enter a string: UGIUbIUum
UGIUBIUUM

Task-2

In [ ]:
A = input(" ")
w_count = 0
n_count = 0

for i in range(len(A)):
   if ord(A[i]) >= 65 and ord(A[i]) <= 90 or ord(A[i]) >= 97 and ord(A[i]) <= 122:
      w_count += 1
   elif ord(A[i]) >= 48 and ord(A[i]) <= 57:
      n_count += 1


if len(A) == w_count:
  print("WORD")
elif len(A) == n_count:
  print("NUMBER")
else:
  print("MIXED")

 jsc4rsrin
MIXED

Task-3

In [ ]:
A = input(" ")
string = ""
for i in range(len(A)):
   if ord(A[i]) >= 65 and ord(A[i]) <= 90:
     string += str(i)

new_word = A[int(string[0]) + 1: int(string[1])]

#print(new_word)
if len(new_word) == 0:
    print ("Blank")
else:
    print(new_word)

 baNgladEsh
glad

Task-4

In [ ]:
srting = input().split(", ")
s1 = srting[0]
s2 = srting[1]
com = ""

for i in s1:
  if i in s2:
    com += i
for j in s2:
  if j in s1:
    com += j

if len(com) == 0:
  print("Nothing in common")

print(com)

harry, hermione
hrrhr

Task-5

In [ ]:
pas = input("Enter password: ")
count1 = 0
count2 = 0
count3 = 0
count4 = 0
missing = ""
s_list = ['_', '$', '#', '@']

for i in range(len(pas)):
  if ord(pas[i]) >= 65 and ord(pas[i]) <= 90:
      count1 += 1
  elif ord(pas[i]) >= 97 and ord(pas[i]) <= 122:
     count2 += 1
  elif ord(pas[i]) >= 48 and ord(pas[i]) <= 57:
      count3 += 1
  elif pas[i] in s_list:
      count4 += 1

if count1 == 0:
    missing += "Uppercase Missing, "
if count2 == 0:
    missing += "Lowercase Missing, "
if count3 == 0:
    missing += "Digit Missing, "
if count4 == 0:
    missing += "Special Missing, "

if count1 > 0 and count2 > 0 and count3 > 0 and count4 > 0:
    print("OK")

print(missing[:-2])

Enter password: ohmybracu
Uppercase Missing, Digit Missing, Special Missing

#List

Task-1

In [ ]:
number = input()
lst1 = []
lst2 = []
while number != "STOP":
    lst1.append(number)
    number = input()
for i in lst1:
    if i != "STOP":
        if i not in lst2:
            lst2.append(i)

for i in lst2:
    print(f"{i} - {lst1.count(i)} times")

10
20
20
30
10
50
90
50
STOP
10 - 2 times
20 - 2 times
30 - 1 times
50 - 2 times
90 - 1 times

Task-2:

In [ ]:
num_of_lst = int(input("Enter the numbger of list: "))
sum_list = []
max_index = 0
a = []

for i in range(num_of_lst):
    list1 = input("Enter: ").split(" ")
    a.append(list1)
    sum_ = 0
    for j in list1:
        sum_ += int(j)
    sum_list.append(sum_)

max_ = sum_list[0]
for i in range(1, len(sum_list)):
    if sum_list[i] > max_:
        max_ = sum_list[i]
        max_index = i
print(sum_list[max_index])

max_list = a[max_index]
# print(max_list)
highest_list = []
for i in max_list:
    highest_list.append(int(i))
print(highest_list)

Enter the numbger of list: 4
Enter: 1 2 3
Enter: 4 5 6
Enter: 10 11 12
Enter: 7 8 9
33
[10, 11, 12]

Task-3:

In [ ]:
lst = input()
num2 = []
res1 = []
while True:
    if lst == "STOP":
        break
    else:
        num1 = lst.split()
        for i in num1:
            i = int(i)
            num2.append(i)
        # print(num2)

        for j in range(len(num2)-1):
            res1.append(abs(num2[j+1] - num2[j]))
        # print(res1)

        if max(res1) >= 1 and max(res1) <= len(num2)-1:
            print("UB Jumper")
        else:
            print("Not UB Jumper")
        num2.clear()
        res1.clear()

        lst = input()

1 4 2 3
UB Jumper
2 1 4 6 10
UB Jumper
1 4 2 -1 6
Not UB Jumper
STOP

Task-4:

In [ ]:
first_line = input("Please enter the value of n and k: ").split(" ")
n = int (first_line[0])
k = int (first_line[1])
lst = []
count_5 = 0
second_line = input("Please enter the details: ").split(" ")
second_line = [int (x) for x in second_line]
for x in second_line:
    if 5 - x >= k:
        lst.append(x)
y = len(lst)
z = y // 3
print(z)

Please enter the value of n and k: 6 5
Please enter the details: 0 0 0 0 0 0
2

In [ ]:
l_1 = input().split(" ")
l_2 = input().split(" ")
n = int(l_1[0])
k = int(l_1[1])
list1 = []
counter = 0
l_2 = [int(i) for i in l_2]
for i in l_2:
    if 5-i >= k:
      list1.append(i)

j = len(list1)
k = j // 3
print(k)

5 2
0 4 5 1 0
1

# Dictionary

Task-1:

In [ ]:
input1=input()
input2=input()
dic1={}
dic2={}
dic3={}
list1=input1.split(', ')
for a in list1:
    list2=a.split(': ')
    dic1[list2[0]]=int(list2[1])
list3=input2.split(', ')
for b in list3:
    list4=b.split(': ')
    dic2[list4[0]]=int(list4[1])
for c,d in dic1.items():
    if c not in dic3.keys():
        dic3[c]=d
    else:
        dic3[c]+=d
for m,n in dic2.items():
    if m not in dic3.keys():
        dic3[m]=n
    else:
        dic3[m]+=n
print(dic3)
temp=list(dic3.values())
temp2=[]
for x in temp:
    if x not in temp2:
        temp2.append(x)
temp2.sort()
print(tuple(temp2))

a: 100, b: 100, c: 200, d: 300
a: 300, b: 200, d: 400, e: 200
{'a': 400, 'b': 300, 'c': 200, 'd': 700, 'e': 200}
(200, 300, 400, 700)

Task-2:

In [ ]:
number = input()
dic1 = {}
while True:
    if number == "STOP":
        break
    else:
        number = int(number)

    if number not in dic1.keys():
        dic1[number] = 1
    else:
        dic1[number] += 1

    number = input()

print(dic1)

for k,v in dic1.items():
    print(f"{k} - {v} times")

10
20
20
30
10
50
90
STOP
{10: 2, 20: 2, 30: 1, 50: 1, 90: 1}
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times

Task-3:

In [ ]:
dict1 = input()
dict1 = dict1.split(", ")
dict2 = {}

for i in dict1:
    temp = i.split(" : ")
    if temp[1] not in dict2:
        dict2[temp[1]] = [temp[0]]
    else:
        dict2[temp[1]].append(temp[0])

print(dict2)

key1 : value1, key2 : value2, key3 : value1
{'value1': ['key1', 'key3'], 'value2': ['key2']}

Task-4:

In [1]:
inp = 'Hello, World!'
dict = {
    1 : '.,?!:',
    2 : 'ABC',
    3 : 'DEF',
    4 : 'GHI',
    5 : 'JKL',
    6 : 'MNO',
    7 : 'PQRS',
    8 : 'TUV',
    9 : 'WXYZ',
    0 : ' ',
}

press_needed = ""
for i in inp:
    i = i.upper()
    for k,v in dict.items():
        if i in v:
            idx = v.find(i)
            press_needed += str(k) * (idx + 1)

print(press_needed)

4433555555666110966677755531111

# Function

Task-1:

In [ ]:
def AmiKenoMota(height, weight):
    BMI = weight / (height*0.01)**2

    if BMI < 18.5:
      return f"Score is {round(BMI, 1)} you are Underweight"
    if BMI >= 18.5 and BMI <= 24.9:
      return f"Score is {round(BMI, 1)} you are Normal"
    if BMI >= 25 and BMI <= 30:
      return f"Score is {round(BMI, 1)} you are Overweight"
    if BMI > 30:
      return f"Score is {round(BMI, 1)} you are Obese"

height = float(input("Enter height: "))
weight= float(input("Enter weight: "))
print(AmiKenoMota(height, weight))

Enter height: 152
Enter weight: 48
Score is 20.8 you are Normal

Task-2:

In [ ]:
def add_divisor(min, max, div):
    sum = 0
    for i in range(min, max):
        if i % div == 0:
            sum += i
    print(sum)

minimum = int(input())
maximum = int(input())
divisor = int(input())
add_divisor(minimum, maximum, divisor)

0
10
2
20

Task-3:

In [ ]:
def chillox(item, location = "Mohakhali"):
    menu = {"BBQ Chicken Cheese Burger": 250, "Beef Burger": 170, "Naga Drums": 200}
    cost = 0
    if item in menu.keys():
        cost += menu[item]
    tax = (cost * 8) / 100
    cost += tax
    if location == "Mohakhali" or location == "":
        cost += 40
    else:
        cost += 60
    print(cost)

item = input()
location = input("Location: ")
chillox(item, location)

Beef Burger
Location:
223.6

Task-4:

In [ ]:
def replace_domain(email, new_dom, old_dom = None):
    new_adress = ""
    for i in range(len(email)):
        new_adress += email[i]
        if email[i] == "@":
            break

    new_adress += new_dom

    if new_adress == email:
        print(f"Unhanged: {new_adress}")
    else:
        print(f"Changed: {new_adress}")

email = input()
new_domain = input()
old_domain = input()
replace_domain(email, new_domain, old_domain)

alice@kaaj.com
sheba.xyz
kaaj.com
Changed: alice@sheba.xyz

Task-5:

In [ ]:
def palindrome(string):
    word_ = ""
    for i in range(len(string)):
        if string[i] != " ":
            word_ += string[i]


    reversed_word = ""
    for i in range(len(string)-1, -1, -1):
        if string[i] != " ":
            reversed_word += string[i]

    if reversed_word == word_:
        print("Palindrome")
    else:
        print("Not a plaindrome")

word = input("")
palindrome(word)

nurses run
Palindrome

Task-6:

In [ ]:
def capital(string):
    new=''
    for i in range(len(string)):
        if i==0 and 'a'<= string[0] <='z': # Capitalize the first letter
            new +=chr(ord(string[i])-32)
        elif string[i]=='i' and string[i+1]==string[i-1]==' ': # If i is in the middle of the sentence
            new += chr(ord(string[i])-32)
        elif string[i]=='i' and (string[i+1]=='.' or string[i+1]=='?' or string[i+1]=='!') and string[i-1]==' ': # If i is in the last of the sentence
            new += chr(ord(string[i])-32)
        elif i>2 and (string[i-2]=='.' or string[i-2]=='?' or string[i-2]=='!'): # Capitalize the first letter after a full-stop, exclamation mark or questionmark
            new += chr(ord(string[i])-32)
        else:
            new += string[i]
    return new
para = input()
print(capital(para))

my favourite animal is a dog. a dog has sharp teeth so that it can eat flesh very easily. do you know my pet dog’s name? i love my pet very much.
My favourite animal is a dog. A dog has sharp teeth so that it can eat flesh very easily. Do you know my pet dog’s name? I love my pet very much.